<div class="row">
  <div class="col-md-offset-10 col-md-2">
    <button id="back" class="btn btn-success" (click)="redirectToProjectList()">Back</button>
  </div>
</div>
<br>
<div class="well">
  <div class="row">
    <div class="col-md-3">
      <strong>Project name:</strong>
    </div>
    <div class="col-md-3">
      {{project?.name}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <strong>Status:</strong>
    </div>
    <div class="col-md-3">
      {{project?.status}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <strong>Priority:</strong>
    </div>
    <div class="col-md-3">
      {{project?.priority}}
    </div>
  </div>
</div>
